.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

table.ayam tr td:nth-child(3),
table.ayam tr td:nth-child(4),
table.baranggudang tr td:nth-child(4),
table.baranggudang tr td:nth-child(5),
table.baranggudang tr td:nth-child(6),
table.cashflow tr td:nth-child(5),
table.cashflow tr td:nth-child(6),
table.produk tr td:last-child,
table.produk tr td:nth-child(4),
table.setoran tr td:last-child,
table.komposisi tr td:last-child,
table.produkoutlet tr td:last-child,
table.pemasukangudang tr td:last-child,
table.pinjaman tr td:last-child,
table.pinjaman tr td:nth-child(5),
table.belanjaayam tr td:nth-child(5),
table.belanjaayam tr td:nth-child(6),
table.belanjaayam tr td:nth-child(7),
table.sirkulasibarang tr td:nth-child(6),
table.sirkulasibarang tr td:nth-child(7),
table.sirkulasibarang tr td:nth-child(8),
table.sirkulasiayam tr td:nth-child(5),
table.sirkulasiayam tr td:nth-child(6),
table.sirkulasiayam tr td:nth-child(7),
table.sirkulasiproduk tr td:nth-child(6),
table.sirkulasiproduk tr td:nth-child(7),
table.pemotongan tr td:nth-child(3),
table.pemotongan tr td:nth-child(4),
table.pemotongan tr td:nth-child(5),
table.pemotongan tr td:nth-child(6),
table.pemotongan tr td:nth-child(7),
table.pemotongan tr td:nth-child(8),
table.laporanbawaan1 tr td:nth-child(5),
table.laporanbawaan1 tr td:nth-child(6),
table.laporansirkulasibahan tr td:nth-child(5),
table.laporansirkulasibahan tr td:nth-child(6),
table.laporansirkulasibahan tr td:nth-child(7),
table.laporanpenjualan tr td:nth-child(5),
table.laporanpenjualan tr td:nth-child(6),
table.laporanpenjualan tr td:nth-child(7),
table.laporanbelanja tr td:nth-child(6),
table.laporanbelanja tr td:nth-child(7),
table.laporanbelanja tr td:nth-child(8),
table.laporanpenjualanoutlet tr td:nth-child(5),
table.laporanpenjualanoutlet tr td:nth-child(6),
table.laporanpenjualanoutlet tr td:nth-child(7),
table.pengeluarangudang tr td:last-child,
table.produksigudang tr td:last-child,
table.outlet tr td:last-child,
table.belanja tr td:last-child,
table.laporanstockgudang0 tr td:last-child,
table.laporanstockgudang2 tr td:last-child,
table.laporanstockgudang1 tr td:nth-child(3),
table.laporanstockgudang1 tr td:nth-child(4),
table.laporanbawaan0 tr td:last-child,
table.laporanbawaan3 tr td:last-child,
table.laporanbawaan2 tr td:last-child,
table.laporanstockoutlet0 tr td:last-child,
table.laporanstockoutlet2 tr td:last-child,
table.laporanstockoutlet1 tr td:nth-child(4),
table.laporanstockoutlet1 tr td:nth-child(5),
table.laporanpengeluaran tr td:last-child,
table.laporansetoran0 tr td:last-child,
table.laporanhutang tr td:last-child,
table.laporanlabarugi tr td:nth-child(4),
table.laporanlabarugi tr td:nth-child(5),
table.laporanlabarugi tr td:nth-child(6),
table.pesanan tr td:nth-child(5),
table.pesanan tr td:nth-child(6),
table.laporanpesanan tr td:nth-child(5),
table.laporanpesanan tr td:nth-child(6),

table.laporanlabarugi tfoot tr th:nth-child(4),
table.laporanlabarugi tfoot tr th:nth-child(5),
table.laporanlabarugi tfoot tr th:nth-child(6),
table.laporanlabarugi tfoot tr th:nth-child(6),
table.laporanbawaan1 tfoot tr th:nth-child(6),
table.laporansetoran0 tfoot tr th:last-child,
table.laporanhutang tfoot tr th:last-child,
table.laporanbawaan0 tfoot tr th:last-child,
table.laporanbawaan2 tfoot tr th:last-child,
table.laporanbawaan3 tfoot tr th:last-child,
table.laporanpengeluaran tfoot tr th:last-child,
table.laporansirkulasibahan tfoot tr th:nth-child(5),
table.laporansirkulasibahan tfoot tr th:nth-child(6),
table.laporansirkulasibahan tfoot tr th:nth-child(7),
table.laporanpenjualan tfoot tr th:nth-child(5),
table.laporanpenjualan tfoot tr th:nth-child(6),
table.laporanpenjualan tfoot tr th:nth-child(7),
table.laporanbelanja tfoot tr th:nth-child(6),
table.laporanbelanja tfoot tr th:nth-child(7),
table.laporanbelanja tfoot tr th:nth-child(8),
table.laporanpenjualanoutlet tfoot tr th:nth-child(6),
table.laporanpenjualanoutlet tfoot tr th:nth-child(7),
table.laporanpesanan tfoot tr th:nth-child(5),
table.laporanpesanan tfoot tr th:nth-child(6)

{
  text-align: right;
}

select {
  height: 28px;
}

tfoot {
  background: #e8e8e8 repeat-x left top;
  border-top: 1px solid #cccccc;
}

tfoot tr th {
  padding: 8px 16px;
}

#mws-container > div.container > form > div:nth-child(2) > div.mws-panel-body.no-padding > 
div.expandable-form-edit > div > div:last-child > div > input {
  width: 60%
}
