.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

table.baranggudang tr td:last-child,
table.ayam tr td:nth-child(3),
table.ayam tr td:nth-child(4),
table.baranggudang tr td:nth-child(4),
table.baranggudang tr td:nth-child(5),
table.baranggudang tr td:nth-child(6),
table.cashflow tr td:nth-child(5),
table.cashflow tr td:nth-child(6),
table.produk tr td:last-child,
table.produk tr td:nth-child(4),
table.setoran tr td:last-child,
table.komposisi tr td:last-child,
table.produkoutlet tr td:last-child,
table.pemasukangudang tr td:last-child,
table.debitur tr td:last-child,
table.pinjaman tr td:last-child,
table.pinjaman tr td:nth-child(5),
table.belanjaayam tr td:nth-child(5),
table.belanjaayam tr td:nth-child(6),
table.belanjaayam tr td:nth-child(7),
table.sirkulasibarang tr td:nth-child(6),
table.sirkulasibarang tr td:nth-child(7),
table.sirkulasibarang tr td:nth-child(8),
table.pengeluarangudang tr td:last-child,
table.belanja tr td:last-child{
  text-align: right;
}

select {
  height: 28px;
}